html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}

body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    background-color: #000;
}

.ital {
    font-style: italic;
    margin-bottom: -10px;
}


/*MISSION STATEMENT*/

.missionState {
    width: 100%;
    text-align: center;
    background-color: #1d1d1d;
    padding-top: 80px;
    padding-bottom: 80px;
}

.missionText {
    font-size: 14px;
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.missionLogo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.missionText2 {
    font-size: 14px;
    color: #27e6a1;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    line-height: 22px;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 40px;
    margin-top: 40px;
}


/*END MISSION STATEMENT*/


/*SUPPORT PAGE*/

.ctaSupport {
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 80px;
    padding-bottom: 80px;
}

.ctaIcon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.ctaButton {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 11px;
    padding: 10px 35px 10px 35px;
    background-color: #04e79f;
    color: #000;
    text-align: center;
    border-radius: 3px;
    margin-right: 60px;
    border: 2px solid #04e79f;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 80px;
    margin-top: 30px;
}

.ctaButton:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    cursor: pointer;
}

.ctaText {
    font-size: 30px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.ctaSubText {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 25px;
}

.sppHero {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
    background-image: url('../images-picknik/suppbg.jpg');
    background-size: cover;
}

.sppWrap {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.sppHeroTitle {
    font-size: 56px;
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.sppLine {
    width: 75px;
    height: 4px;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sppRow {
    display: table;
    height: auto;
    position: relative;
    width: 50%;
}

.sppCol1 {
    display: table-cell;
    width: 1%;
    vertical-align: top;
    text-align: left;
}

.sppCol2 {
    display: table-cell;
    width: 20%;
    vertical-align: top;
    text-align: left;
}

.sppArrow {
    width: 20px;
    height: 20px;
    margin-bottom: 30px;
    margin-right: -10px;
    margin-top: 5px;
}

.sppText {
    font-size: 16px;
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 24px;
    padding-left: 15px;
}

.sppEngage {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.sppEngageWrap {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.sppEngageTitle {
    font-size: 40px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.sppEngageRow {
    display: table;
    height: auto;
    position: relative;
    width: 100%;
}

.sppEngageRow1 {
    display: table;
    height: auto;
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.sppEngageCol1 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: left;
}

.sppEngageCol2 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: left;
}

.sppEngageSubTitle {
    font-size: 16px;
    color: #04e79f;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 15px;
}

.sppEngageSubText {
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
    padding-right: 10%;
}


/*END SUPPORT PAGE*/


/*SERVICES*/

a.sLink:link {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

a.sLink:visited {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

a.sLink:hover {
    color: #04e79f;
}

.servCon {
    width: 85%;
    margin: 0 auto;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    margin-top: 80px;
    border-radius: 3px;
}

.servCon2 {
    width: 85%;
    margin: 0 auto;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 3px;
}

.servWrap {
    padding-left: 80px;
    padding-right: 80px;
}

.sIcon2 {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: -22px;
    display: inline-block;
    margin-right: 20px;
}

.sSubText {
    font-size: 12px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 28px;
}

.servPageTitle {
    font-size: 16px;
    color: #04e79f;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}

.servPageTitleSub {
    font-size: 12px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}


/*END SERVICES*/


/*UPDATE-BIO IMAGES*/

.bioPic1 {
    background: url('../images-picknik/p1.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic1:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic2 {
    background: url('../images-picknik/p2.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic2:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic3 {
    background: url('../images-picknik/p3.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic3:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic4 {
    background: url('../images-picknik/p4.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic4:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic5 {
    background: url('../images-picknik/p5.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic5:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic6 {
    background: url('../images-picknik/p6.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic6:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic7 {
    background: url('../images-picknik/p9.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic7:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic8 {
    background: url('../images-picknik/p8.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic8:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.bioPic9 {
    background: url('../images-picknik/p9.jpg') 0 -150px no-repeat;
    margin-bottom: 25px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px;
}

.bioPic9:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
}


/*END UPDATE*/


/*HEADER*/

.menuR1 {
    width: 30px;
    height: 20px;
    position: absolute;
    top: -37px;
    right: 51px;
    filter: invert(100%);
}

.menuR1:hover {
    cursor: pointer;
}

.respMenu {
    display: none;
}

.header {
    display: table;
    height: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.headerCol1 {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerCol2 {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerCol3 {
    width: 30%;
    vertical-align: middle;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    width: 140px;
    height: 44px;
    margin-left: 60px;
}

a.headerLinks:link {
    color: #000;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-left: 30px;
    font-size: 16px;
    letter-spacing: 2px;
}

a.headerLinks:visited {
    color: #000;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-left: 30px;
    font-size: 16px;
    letter-spacing: 2px;
}

a.headerLinks:hover {
    color: #04e79f;
}

a.headerLinks1:link {
    color: #000;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
}

a.headerLinks1:visited {
    color: #000;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
}

a.headerLinks1:hover {
    color: #04e79f;
}

.contactButton {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 11px;
    padding: 10px 35px 10px 35px;
    background-color: #04e79f;
    color: #000;
    text-align: center;
    border-radius: 3px;
    margin-right: 60px;
    border: 2px solid #04e79f;
    position: absolute;
    letter-spacing: 2px;
    top: 15px;
    right: 0px;
}

.contactButton:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border: 2px solid #000;
}

.floatBut {
    float: right;
}


/*END HEADER*/


/*HERO AREA*/

.move {
    margin-right: 100px;
}

.hero {
    display: table;
    height: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.heroCol1 {
    display: table-cell;
    min-width: 45%;
    width: 45%;
    max-width: 45%;
    vertical-align: middle;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.heroCol2 {
    display: table-cell;
    width: 55%;
    vertical-align: middle;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 50px;
}

.heroPad {
    text-align: left;
    padding-left: 10%;
    padding-right: 3%;
}

.heroPad2 {
    text-align: left;
    padding-right: 10%;
}

.heroTitle {
    font-size: 56px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.heroSubText {
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 40px;
    padding-right: 15%;
}

.line {
    width: 75px;
    height: 4px;
    background-color: #000;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lineService {
    width: 45px;
    height: 4px;
    background-color: #000;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 96px;
}

a {
    text-decoration: none;
}

.heroButton1 {
    display: inline;
    background-color: #04e79f;
    border-radius: 3px;
    padding: 17px 50px 17px 50px;
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
}

.heroButton1:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.heroImg {
    width: 90%;
    max-width: 680px;
}


/*END HERO AREA*/


/*HOME INTRO*/

.intro {
    display: table;
    height: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.introCol1 {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('../images-picknik/roboto-intro.jpg');
    background-size: cover;
    background-position: center center;
}

.introCol2 {
    display: table-cell;
    width: 67%;
    vertical-align: middle;
    text-align: left;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f2f2f2;
}

.introPadding {
    padding-left: 15%;
    padding-right: 15%;
}

.introTitle {
    font-size: 36px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.introTitleS {
    font-size: 36px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    display: inline-block;
}

.introSubText {
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 40px;
    padding-right: 15%;
}

.line {
    width: 75px;
    height: 4px;
    background-color: #000;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bullet {
    display: inline;
    color: #04e79f;
    font-weight: bold;
}

.introLogos {
    width: 230px;
    height: 49px;
}


/*END HOME INTRO*/


/*HOME-INTEGRATION*/

.integration {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.integTitle {
    font-size: 30px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.integSubText {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 24px;
    padding-left: 30%;
    padding-right: 30%;
}

.lineN {
    width: 75px;
    height: 4px;
    background-color: #000;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.integIcon {
    width: 206px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}


/*END HOME-INTEGRATION*/


/*SERVICES*/

.servicesCont {
    width: 100%;
    background-color: #fff;
}

.servicesRowR {
    display: none;
}

.servicesColR {
    display: none;
}

.services {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border: 6px solid #f2f2f2;
    background-color: #fff;
    position: relative;
}

.servicesTitle {
    font-size: 30px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.servicesRow {
    display: table;
    height: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.servicesCol {
    display: table-cell;
    width: 33.3%;
    vertical-align: top;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.servicesCol:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.servicesCol:hover .sIcon {
    opacity: 0.5;
    cursor: pointer;
}

.servicesCol:hover .sLink {
    color: #04e79f;
    cursor: pointer;
}

.sIcon {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sIcon:hover {
    opacity: 0.5;
}

.sTitle {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.sSubTitle {
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    margin-top: 7.5px;
}


/*END SERVICES*/


/*RECOMMENDATIONS*/

.rec {
    width: 100%;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
    background-color: #f2f2f2;
    margin-top: -80px;
}

.recTitle {
    font-size: 30px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.recRow {
    display: table;
    height: auto;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.recColL {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 5px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2;
    background-color: #fff;
}

.recColR {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: 5px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2;
    background-color: #fff;
}

.recColL2 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 5px solid #f2f2f2;
    border-top: 5px solid #f2f2f2;
    background-color: #fff;
    border-bottom: 10px solid #f2f2f2;
}

.recColR2 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: 5px solid #f2f2f2;
    border-top: 5px solid #f2f2f2;
    background-color: #fff;
    border-bottom: 10px solid #f2f2f2;
}

.recColL3 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 5px solid #f2f2f2;
    border-top: 10px solid #f2f2f2;
    background-color: #FFF;
}

.recColR3 {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: 5px solid #f2f2f2;
    border-bottom: 5px solid #f2f2f2;
    background-color: #fff;
}

.recPad {
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}

.recPadP {
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}

.recText {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.recName {
    font-size: 16px;
    color: #04e79f;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
}

.recPos {
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
}

.recQ {
    font-size: 30px;
    color: #04e79f;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    display: inline;
}

.lineRec {
    width: 75px;
    height: 4px;
    background-color: #000;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}


/*END RECOMMENDATIONS*/


/*FOOTER*/

.footer {
    width: 100%;
    background-color: #000;
}

.footerRow1 {
    display: table;
    height: auto;
    position: relative;
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid #4f4f4f;
    background-color: #000;
}

.footerRow {
    display: table;
    height: auto;
    position: relative;
    width: 85%;
    margin: 0 auto;
    background-color: #000;
}

.footerColL {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerColR {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: Right;
    padding-top: 40px;
    padding-bottom: 40px;
}

a.footerLinks:link {
    color: #fff;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-left: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
}

a.footerLinks:visited {
    color: #fff;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-left: 30px;
    font-size: 14px;
    letter-spacing: 2px;
}

a.footerLinks:hover {
    color: #04e79f;
}

a.footerLinks1:link {
    color: #fff;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
}

a.footerLinks1:visited {
    color: #fff;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
}

a.footerLinks1:hover {
    color: #04e79f;
}

a.ros:link {
    color: #04e79f;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

a.ros:visited {
    color: #04e79f;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

a.ros:hover {
    color: #fff;
}

.footerText {
    font-size: 14px;
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
    padding-left: 15%;
}

.logo2 {
    width: 140px;
    height: 44px;
}


/*END FOOTER*/


/*CONNECT*/

.intro {
    display: table;
    height: auto;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.introCol1C {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: white;
}

.introCol2C {
    display: table-cell;
    width: 67%;
    vertical-align: middle;
    text-align: left;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
}

.introPadding {
    padding-left: 15%;
    padding-right: 15%;
}

.introTitle {
    font-size: 36px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
}

.introSubText2 {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 40px;
    padding-right: 15%;
}

.line {
    width: 75px;
    height: 4px;
    background-color: #000;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.connectIcon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    display: inline;
    margin-bottom: -15px;
}

a.connectText:link {
    color: #000;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: Inline;
}

a.connectText:visited {
    color: #000;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: inline;
}

a.connectText:hover {
    color: #04e79f;
}

.connectText2 {
    color: #000;
    text-decoration: none;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: Inline;
}

.connectMarg {
    margin-top: 55px;
}


/*END CONNECT*/


/*Projects*/

.introCol1P {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('../images-picknik/projects-image.jpg');
    background-size: cover;
    background-position: center center;
}

.introCol2P {
    display: table-cell;
    width: 67%;
    vertical-align: middle;
    text-align: left;
    padding-top: 120px;
    padding-bottom: 182px;
    background-color: #fff;
}

.introSubTextP {
    font-size: 16px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
    padding-right: 15%;
}

.proName {
    font-size: 12px;
    color: #04e79f;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    line-height: 28px;
    padding-right: 15%;
}

.pLogos {
    width: 550px;
    height: 83px;
    margin-top: 30px;
}

.projects {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #f2f2f2;
}

.pHolder {
    width: 55%;
    display: block;
    margin-bottom: 20px;
    float: left;
    padding-right: 30px;
}

.pTitle {
    font-size: 30px;
    color: #04e79f;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pTitle2 {
    font-size: 18px;
    color: #808080;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline;
}

.pText {
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
}

.pButton {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 35px 10px 35px;
    background-color: #04e79f;
    color: #000;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    border: 2px solid #04e79f;
    display: inline-block;
    letter-spacing: 2px;
}

.pButton:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: 2px solid #000;
}


/*END Projects*/


/*HOME-PEOPLE*/

.people {
    width: 100%;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 80px;
    background-color: #f2f2f2;
}

.peopleIcon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.peopleCon {
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding-bottom: 80px;
}

.peoplePic {
    width: 110px;
    height: 110px;
    margin-bottom: 25px;
    border-radius: 50%;
}

a.peopleName:link {
    font-size: 24px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

a.peopleName:visited {
    font-size: 24px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

a.peopleName:hover {
    cursor: pointer;
    color: #04e79f;
}

.peoplePosition {
    font-size: 12px;
    color: #04e79f;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

.peopleDesc {
    font-size: 14px;
    color: #000;
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    line-height: 22px;
}


/*END HOME-PEOPLE*/


/*RESPONSIVE CODE*/

@media only screen and (max-width: 900px) {
    /*MISSION STATEMENT*/
    .missionState {
        width: 100%;
        text-align: center;
        background-color: #1d1d1d;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .missionText {
        font-size: 14px;
        color: #fff;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 22px;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .missionLogo {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .missionText2 {
        font-size: 14px;
        color: #27e6a1;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        line-height: 22px;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    /*END MISSION STATEMENT*/
    /*SUPPORT PAGE*/
    .sppHero {
        width: 100%;
        padding-top: 140px;
        padding-bottom: 90px;
        background-image: url('../images-picknik/suppbg.jpg');
        background-size: cover;
    }
    .sppWrap {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .sppHeroTitle {
        font-size: 40px;
        color: #fff;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .sppLine {
        width: 75px;
        height: 4px;
        background-color: #fff;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .sppRow {
        display: table;
        height: auto;
        position: relative;
        width: 50%;
        margin: 0 auto;
    }
    .sppCol1 {
        display: table-cell;
        width: 1%;
        vertical-align: top;
        text-align: center;
    }
    .sppCol2 {
        display: table-cell;
        width: 20%;
        vertical-align: top;
        text-align: center;
    }
    .sppArrow {
        width: 20px;
        height: 20px;
        margin-bottom: 30px;
    }
    .sppText {
        font-size: 16px;
        color: #fff;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 22px;
        padding-left: 15px;
    }
    .sppEngage {
        width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #fff;
    }
    .sppEngageWrap {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .sppEngageTitle {
        font-size: 24px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .sppEngageRow {
        display: table;
        height: auto;
        position: relative;
        width: 100%;
    }
    .sppEngageRow1 {
        display: table;
        height: auto;
        position: relative;
        width: 100%;
        margin-top: 40px;
    }
    .margspp {
        margin-bottom: 20px;
    }
    .sppEngageCol1 {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
    }
    .sppEngageCol2 {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
    }
    .sppEngageSubTitle {
        font-size: 15px;
        color: #04e79f;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 15px;
    }
    .sppEngageSubText {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
        padding-right: 10%;
        padding-left: 10%;
    }
    #moveit-logo-black {}
    /*END SUPPORT PAGE*/
    /*SERVICES*/
    .servCon {
        width: 85%;
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #fff;
        margin-top: 80px;
        border-radius: 3px;
    }
    .servCon2 {
        width: 85%;
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #fff;
        margin-top: 15px;
        border-radius: 3px;
    }
    .sIcon2 {
        width: 70px;
        height: 70px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /*HEADER*/
    .h {
        display: none;
    }
    .respMenu {
        display: block;
    }
    .header2 {
        height: 60px;
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 999;
    }
    /*dropdown*/
    .dropdown {
        FONT-SIZE: 13PX;
        position: relative;
        width: 100%;
        padding: 10px;
        margin-right: 10px;
        text-align: right;
        margin: 0 auto;
        color: #000;
        letter-spacing: 1px;
        font-family: 'Source Code Pro', sans-serif;
    }
    .dropdown a {
        display: block;
        text-decoration: none;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    /* toggle */
    .dropdown .dropdown-toggle {
        padding: 0;
        text-align: right;
        margin-right: 40px;
        margin-top: 20px;
    }
    /* dropdown */
    .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background: #fff;
    }
    /* options */
    .dropdown-menu .option a {
        padding: 15px;
        text-align: center;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .dropdown-menu .option a:hover {
        background-color: #f2f2f2;
        cursor: pointer;
        color: #2c2c2c;
    }
    /* open */
    .dropdown-open {
        z-index: 400;
    }
    .dropdown-open>.dropdown-menu {
        display: block;
        margin-top: -38px;
        border-radius: 0;
        border: none;
    }
    .header {
        display: none;
    }
    .logoR {
        width: 140px;
        height: 44px;
        margin-left: 30px;
        margin-top: 10px;
    }
    /*dropdown*/
    /*END HEADER*/
    /*HERO AREA*/
    .move {
        margin-right: 100px;
    }
    .hero {
        display: table;
        height: auto;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .heroCol1 {
        display: block;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .heroCol2 {
        display: block;
        width: 100%;
        vertical-align: middle;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    .heroPad {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .heroPad2 {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .heroTitle {
        font-size: 36px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .heroSubText {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 40px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .line {
        width: 55px;
        height: 4px;
        background-color: #000;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    a {
        text-decoration: none;
    }
    .heroButton1 {
        display: inline;
        background-color: #04e79f;
        border-radius: 3px;
        padding: 17px 50px 17px 50px;
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        letter-spacing: 1px;
        font-weight: 500;
        text-decoration: none;
    }
    .heroButton1:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
    }
    .heroImg {
        width: 90%;
        max-width: 680px;
    }
    /*END HERO AREA*/
    /*HOME INTRO*/
    .intro {
        display: table;
        height: auto;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .introCol1 {
        display: none;
        width: 33%;
        vertical-align: middle;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url('../images-picknik/roboto-intro.jpg');
        background-size: cover;
        background-position: center center;
    }
    .introCol2 {
        display: block;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #f2f2f2;
    }
    .introPadding {
        padding-left: 15%;
        padding-right: 15%;
    }
    .introTitle {
        font-size: 27px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .introTitleS {
        font-size: 27px;
        display: block;
    }
    .introSubText {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 40px;
        padding-right: 0%;
    }
    .line {
        width: 75px;
        height: 4px;
        background-color: #000;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .bullet {
        display: inline;
        color: #04e79f;
        font-weight: bold;
    }
    .introLogos {
        margin: 0 auto;
        width: 230px;
        height: 49px;
    }
    /*END HOME INTRO*/
    /*HOME-INTEGRATION*/
    .integration {
        width: 100%;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .integTitle {
        font-size: 27px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .integSubText {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .lineN {
        width: 75px;
        height: 4px;
        background-color: #000;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .integIcon {
        width: 206px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    /*END HOME-INTEGRATION*/
    /*SERVICES*/
    .services {
        width: 85%;
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        border: 6px solid #f2f2f2;
        background-color: #fff;
        position: relative;
    }
    .servicesTitle {
        font-size: 30px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .servicesRow {
        display: none;
        height: auto;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .servicesCol {
        display: none;
        width: 33.3%;
        vertical-align: top;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .servicesRowR {
        display: table;
        height: auto;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .servicesColR {
        display: table-cell;
        width: 50%;
        vertical-align: top;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .servicesColR:hover {
        background-color: #f5f5f5;
    }
    .sIcon {
        width: 45px;
        height: 45px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .sTitle {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        margin-bottom: 5px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .sSubTitle {
        font-size: 12px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        padding-left: 5%;
        padding-right: 5%;
    }
    /*END SERVICES*/
    /*RECOMMENDATIONS*/
    .rec {
        width: 100%;
        text-align: center;
        padding-top: 160px;
        padding-bottom: 80px;
        background-color: #f2f2f2;
        margin-top: -80px;
    }
    .recTitle {
        font-size: 27px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
    }
    .recRow {
        display: table;
        height: auto;
        position: relative;
        width: 85%;
        margin: 0 auto;
    }
    .recColR3 {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        border-left: 5px solid #f2f2f2;
        border-top: 0px solid #f2f2f2;
        background-color: #fff;
    }
    .recColL {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        border-right: 0px solid #f2f2f2;
        border-bottom: 10px solid #f2f2f2;
        background-color: #fff;
    }
    .recColR {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        border-left: 0px solid #f2f2f2;
        border-bottom: 10px solid #f2f2f2;
        background-color: #fff;
    }
    .recColL2 {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        border-right: 0px solid #f2f2f2;
        border-top: 0px solid #f2f2f2;
        background-color: #fff;
        border-bottom: 10px solid #f2f2f2;
    }
    .recColR2 {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        border-left: 0px solid #f2f2f2;
        border-top: 0px solid #f2f2f2;
        background-color: #fff;
        border-bottom: 0px solid #f2f2f2;
    }
    .recPad {
        padding-left: 15%;
        padding-right: 15%;
        text-align: left;
    }
    .recPadP {
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
    }
    .recText {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
    }
    .recName {
        font-size: 13px;
        color: #04e79f;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        line-height: 18px;
        margin-top: 10px;
    }
    .recPos {
        font-size: 12px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
    }
    .recQ {
        font-size: 27px;
        color: #04e79f;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        display: inline;
    }
    .lineRec {
        width: 75px;
        height: 4px;
        background-color: #000;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    /*END RECOMMENDATIONS*/
    /*FOOTER*/
    .footer {
        width: 100%;
        background-color: #000;
    }
    .footerRow1 {
        display: table;
        height: auto;
        position: relative;
        width: 85%;
        margin: 0 auto;
        border-bottom: 1px solid #4f4f4f;
        background-color: #000;
    }
    .footerRow {
        display: table;
        height: auto;
        position: relative;
        width: 85%;
        margin: 0 auto;
        background-color: #000;
    }
    .footerColL {
        display: block;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footerColR {
        display: block;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    a.footerLinks:link {
        color: #fff;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        margin-left: 30px;
        font-size: 13px;
        letter-spacing: 2px;
    }
    a.footerLinks:visited {
        color: #fff;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        margin-left: 30px;
        font-size: 13px;
        letter-spacing: 2px;
    }
    a.footerLinks:hover {
        color: #04e79f;
    }
    a.footerLinks1:link {
        color: #fff;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 2px;
    }
    a.footerLinks1:visited {
        color: #fff;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 2px;
    }
    a.footerLinks1:hover {
        color: #04e79f;
    }
    a.ros:link {
        color: #04e79f;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
    }
    a.ros:visited {
        color: #04e79f;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
    }
    a.ros:hover {
        color: #fff;
    }
    .footerText {
        font-size: 13px;
        color: #fff;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
        padding-left: 0%;
    }
    .logo2 {
        width: 140px;
        height: 44px;
    }
    /*END FOOTER*/
    /*CONNECT*/
    .intro {
        display: table;
        height: auto;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .introCol1C {
        width: 33%;
        vertical-align: middle;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('../images-picknik/red-arm.jpg');
        background-size: cover;
        background-position: center center;
    }
    .introCol5P {
        display: table-cell;
        width: 33%;
        height: 500px;
        vertical-align: middle;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('../images-picknik/red-arm.jpg');
        background-size: cover;
        background-position: center center;
    }
    .introCol5P {
        display: NONE;
        width: 33%;
        height: 500px;
        vertical-align: middle;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('../images-picknik/red-arm.jpg');
        background-size: cover;
        background-position: center center;
    }
    .introCol2C {
        display: block;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 80px;
        background-color: #fff;
    }
    .introPadding {
        padding-left: 15%;
        padding-right: 15%;
    }
    .introSubText2 {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 40px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .line {
        width: 75px;
        height: 4px;
        background-color: #000;
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .lineService {
        width: 45px;
        height: 4px;
        background-color: #000;
        display: block;
        margin-left: 0px;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .connectIcon {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        display: inline;
        margin-bottom: -15px;
    }
    a.connectText:link {
        color: #000;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 18px;
        display: Inline;
    }
    a.connectText:visited {
        color: #000;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 18px;
        display: inline;
    }
    a.connectText:hover {
        color: #04e79f;
    }
    .connectText2 {
        color: #000;
        text-decoration: none;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 18px;
        display: Inline;
    }
    .connectMarg {
        margin-top: 55px;
    }
    /*END CONNECT*/
    /*Projects*/
    .introCol1P {
        display: NONE;
        width: 33%;
        vertical-align: middle;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url('../images-picknik/projects-image.jpg');
        background-size: cover;
        background-position: center center;
    }
    .introCol2P {
        display: BLOCK;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 80px;
        background-color: #fff;
    }
    .introSubTextP {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 10px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .proName {
        font-size: 13px;
        color: #04e79f;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 30px;
        padding-left: 15%;
        padding-right: 15%;
    }
    .pLogos {
        width: 85%;
        height: auto;
        margin-top: 0px;
        margin: 0 auto;
    }
    .projects {
        width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
        background-color: #f2f2f2;
    }
    .pHolder {
        width: 85%;
        display: block;
        margin-bottom: 20px;
    }
    .pTitle {
        font-size: 20px;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .pTitle2 {
        font-size: 13px;
        color: #808080;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        margin-bottom: 20px;
        display: inline;
    }
    .pText {
        font-size: 13px;
        color: #000;
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 300;
        line-height: 18px;
    }
    .pButton {
        font-family: 'Source Code Pro', sans-serif;
        font-weight: 500;
        font-size: 12px;
        padding: 10px 35px 10px 35px;
        background-color: #04e79f;
        color: #000;
        text-align: center;
        border-radius: 3px;
        margin-top: 20px;
        border: 2px solid #04e79f;
        display: inline-block;
        letter-spacing: 2px;
    }
    .pButton:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border: 2px solid #000;
    }
    .margPR {
        margin-top: 10px;
    }
    /*END Projects*/
    /* Jobs */
    /*END Jobs */
}