<div class="contact-form">
  <form action="https://formcarry.com/s/I_R-0DVKskS" method="POST" accept-charset="UTF-8">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" name="name" class="form-control" id="nameInput" placeholder="Your Name">
    </div>
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" name="email" class="form-control" id="emailInput" placeholder="Your Email">
    </div>
    <div class="form-group">
      <label for="phoneInput">Phone</label>
      <input type="tel" name="phone" class="form-control" id="phoneInput" placeholder="Your Phone">
    </div>
    <div class="form-group">
      <label for="textArea">Message</label>
      <textarea class="form-control" name="textarea" data-autoresize id="textArea" rows="3"
        placeholder="Your Message"></textarea>
    </div>
    <input type="hidden" name="_gotcha" /><!-- use this to prevent spam -->
    <div class="form-group">
      <button type="submit" class="btn">Send Message</button>
    </div>
  </form>
</div>