{% assign base = '' %} {% assign depth = page.url | split: '/' | size | minus: 1 %} {% if depth
<=1 %}{% assign base='.' %} {% elsif depth==2 %}{% assign base='..' %} {% elsif depth==3 %}{% assign base='../..' %} {%
    elsif depth==4 %}{% assign base='../../..' %}{% endif %} <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>
    {% if page.title != "index" %} {{ page.title }} | PickNik {% else %} {{site.name}} {% endif
    %}
</title>

<meta name="keywords" content="robot arm software robotic consulting picknik contractors consultants controls moveit ros">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta name="google-site-verification" content="ghsOqXLQA2iTIK28nhoHlZwFo3SYVr5_ObKclChE6g0" />
