{% include head.html %}
<div id="top"></div>
<div class="respMenu">
    <div class="header2">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.jpg" class="logoR"></a>
        <div id="language" class="dropdown">
            <span class="dropdown-toggle"><img src="{{site.baseurl}}/images/menu.png" class="menuR1"></span>
            <ul class="dropdown-menu">
                <li class="option"><a href="{{site.baseurl}}/projects" id="featuresHH1">PROJECTS</a></li>
                <li class="option"><a href="{{site.baseurl}}/services" id="servicesHH2">SERVICES</a></li>
                <li class="option"><a href="{{site.baseurl}}/people" id="aboutHH1">PEOPLE</a></li>
                <li class="option"><a href="{{site.baseurl}}/jobs" id="jobsHH2">JOBS</a></li>
                <li class="option"><a href="{{site.baseurl}}/connect" id="requestHH2">CONNECT</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="header">
    <div class="headerCol1">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.jpg" class="logo"></a>
    </div>
    <div class="headerCol2">
        <a href="{{site.baseurl}}/projects" class="headerLinks1">PROJECTS</a>
        <a href="{{site.baseurl}}/services" class="headerLinks">SERVICES</a>
        <a href="{{site.baseurl}}/people" class="headerLinks">PEOPLE</a>
        <a href="{{site.baseurl}}/jobs" class="headerLinks">JOBS</a>
    </div>
    <div class="headerCol3">

        <a href="{{site.baseurl}}/connect">
            <div class="contactButton">CONNECT</div>
        </a>
    </div>

</div>