.bioPic {
  background: 0 -150px no-repeat;
  margin-bottom: 25px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: 150px;
  &:hover {
    background-position: 0 0px;
    margin-bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
  }
}
