.block-section__img {
  max-width: 100%;
  @media screen and (max-width: 992px) {
    max-width: 80%;
    margin: 40px auto;
    display: table;
  }
}

.block-padding-80 {
  padding: 80px 0;
  @media screen and (max-width: 560px) {
    padding: 50px 0;
  }
}

.block-padding-100 {
  padding: 100px 0;
  @media screen and (max-width: 560px) {
    padding: 50px 0;
  }
}

.block-padding-120 {
  padding: 120px 0;
  @media screen and (max-width: 560px) {
    padding: 60px 0;
  }
}

.block-section__content {
  ul {
    @media screen and (max-width: 560px) {
      display: block !important;
      margin-bottom: 0;
    }
  }

  p {
    font-size: 20px;
  }
}

.block-expertice-single {
  a {
    display: flex;
    width: 100%;
    height: 330px;
    align-content: center;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 24px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 45px;
    @media screen and (max-width: 1199px) {
      padding: 45px 20px;
    }
  }
  .img-wrapper {
    img {
      border-color: #eceff6;
      border: 2px solid #eceff6;
      border-radius: 20px;
      width: 100px;
      padding: 20px;
      margin-bottom: 24px;
    }
  }
  .subTitle {
    color: #3c4a69;
    opacity: 0.8;
  }
}

.block-expertice-body {
  margin-top: 30px;
  margin-bottom: 100px;
  @media screen and (max-width: 560px) {
    margin-bottom: 50px;
  }
}

.block-expertice-footer {
  margin-top: 100px;
  text-align: left;
  h3 {
    padding-left: 45px;
    font-weight: normal;
    span {
      position: absolute;
      width: 30px;
      left: 22px;
      font-size: 64px;
      color: #04e79f;
      font-weight: normal;
    }
  }
  p {
    font-size: 18px;
  }
}

.our-works-logos {
  opacity: 0.5;
  vertical-align: middle;
  transition: filter 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 150px;
  max-height: 80px;
  margin: 32px 30px 0;

  @media screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto 10px;
  }

  &--small {
    height: 40px;
  }

  &:hover {
    opacity: 1;
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.block-mission-statement {
  padding: 60px 0;
  .block-mission-statement-logo {
    width: 22px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-right: 25px;
  }
  h3 {
    font-weight: 400;
    margin-bottom: 0;
    display: inline-block;
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
    }
  }
  p {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
  }
}

.block-section--review {
  background-color: #223252;
  margin-top: 80px;
  padding: 50px;
  border-radius: 6px;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
}

.block-section--review__icon {
  width: 148px;
  margin-bottom: 20px;
}

.block-section--review__author {
  font-size: 20px;
  color: #c8c7c7;
  margin-bottom: 0;
  margin-top: 20px;
  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
}

.block-section__p-logo {
  margin-right: 20px;
  width: 150px;

  @media screen and (max-width: 1199px) {
    width: 100px;
  }

  @media screen and (max-width: 992px) {
    width: 75px;
  }

  @media screen and (max-width: 767px) {
    width: 50px;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.block-sections-strategy {
  display: flex;
  flex-wrap: wrap;
}

.block-sections-strategy__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
  flex: 0 0 50%;
  margin: 20px auto;
  justify-content: flex-end;
  
  @media screen and (max-width: 560px) {
    max-width: 100%;
    flex: 0 0 100%;
  }

  a {

    img {
      opacity: 1;
      vertical-align: middle;
      transition: filter 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
      -moz-filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    
    &:hover {
      img {
        opacity: 0.5;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}

.block-sections-strategy__img{
  max-height: 120px;
  max-width: 170px;
}

.block-sections-strategy__text {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1;
}

.block-section--certifications {
  img {
    max-width: 170px;
    max-height: 126px;
    margin: 10px 20px;

    @media screen and (max-width: 992px) {
      margin: 0 auto 20px;
      display: table;
    }
  }
}
