.blog-container {
  padding-bottom: 80px;
}

.blog-card-big-wrapper {
  margin-bottom: 120px;
}
.blog-card-big {
  max-width: 60%;
  flex: 0 0 60%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and (max-width: 992px) {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.blog-card-small {
  max-width: 46%;
  flex: 0 0 46%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and (max-width: 768px) {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.blog-single {
  width: 560px;
  max-width: 100%;
  margin: 0 auto 90px;
}

.blog-align-center {
  display: flex;
  align-items: center;
  @media screen and (max-width: 575px) {
    margin-bottom: 50px;
  }
}

.blog-image-wrapper {
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 14px;
  &.real-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  iframe,
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 80%;
  }

  &-main {
    height: 600px;
    @media screen and (max-width: 992px) {
      height: 350px;
    }
    iframe,
    img {
      @media screen and (max-width: 768px) {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
    }
  }
}

.blog-text-wrapper {
  .blog-date {
    opacity: 0.5;
    color: #3C4A69;
    font-size: 14px;
    line-height: 30px;
    padding-left: 30px;
    position: relative;
    text-transform: uppercase;
    &:before {
      content: '';
      width: 22px;
      height: 1px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #3C4A69;
    }
  }

  h3 {
    color: #121929;
    font-size: 32px;
    font-weight: 500;
    line-height: 46px;
    margin-bottom: 12px;
  }

  p {
    color: #3C4A69;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 32px;
  }
}

.block-with-image {
  padding: 100px 0;
  align-items: center;
  @media screen and (max-width: 992px) {
    padding-top: 0;
  }

  .text-block {
    max-width: 340px;
    @media screen and (max-width: 768px) {
      max-width: none;
    }
  }

  .text-block--left {
    padding-right: 30px;
    @media screen and (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 30px;
    }
  }

  .text-block--right {
    padding-left: 30px;
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-top: 30px;
    }
  }
}
