html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  -webkit-text-size-adjust: none;
}

body,
iframe {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  padding: 0;
  -webkit-text-size-adjust: none;
  background-color: white;
  color: #3c4a69;
}

body {
  margin-top: 145px;
  background-image: url('../images/redesign/bg-main.svg');
  background-repeat: no-repeat;
  background-position-x: -100px;
  padding-bottom: 350px;
  position: relative;
  @media screen and (max-width: 1271px) {
    padding-bottom: 380px;
  }
  @media screen and (max-width: 992px) {
    padding-bottom: 420px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 445px;
  }
  @media screen and (max-width: 503px) {
    padding-bottom: 0;
  }
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    color: #04e79f;
    text-decoration: none;
  }
}

h1,
.h1 {
  color: #121929;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  @media screen and (max-width: 560px) {
    font-size: 34px;
  }
}

h2,
.h2 {
  color: #121929;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  @media screen and (max-width: 560px) {
    font-size: 28px;
  }
}

h3,
.h3 {
  color: #121929;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  @media screen and (max-width: 560px) {
    font-size: 24px;
  }
}

h4,
.h4 {
  color: #121929;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
  @media screen and (max-width: 560px) {
    font-size: 20px;
  }
}

p {
  line-height: 32px;
  font-size: 16px;
  @media screen and (max-width: 560px) {
    font-size: 12px;
  }
}

ul {
  padding: 0;
  &.green-square {
    li {
      list-style: none;
      @media screen and (max-width: 560px) {
        margin-bottom: 20px;
      }
      &::before {
        content: "\25A0";
        color: #04e79f;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

ol {
  &.list-number {
    counter-reset: number-counter;
    list-style: none;
    padding-left: 1em;

    li {
      counter-increment: number-counter;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      line-height: 40px;

      &::before {
        content: counter(number-counter);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        margin-left: -1em;
        margin-right: 16px;
        height: 16px;
        font-size: 9px;
        line-height: 16px;
        background-color: #121929;
        border-radius: 100%;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

.container {
  @media only screen and (min-width: 1200px) {
    max-width: 1350px;
  }
}

.bg-grey {
  background-color: #f5f5fa !important;
}

.bg-blue {
  background-color: #0653E2;
}

.bg-blue-dark {
  background-color: #202c48;
}

.text-center {
  text-align: center !important;
  margin: 0 auto;
}

.mt-40 {
  margin-top: 40px;
}

.mt-100 {
  margin-top: 100px;
  @media screen and (max-width: 992px) {
    margin-top: 60px;
  }
}

.column {
  float: left;
  width: 45%;
  padding-right: 5%;
}

.site-container {
  margin: 0 auto;
  min-height: 95%;
  width: 100%;
  padding: 0;
  max-width: 1330px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
  height: 315px;
}

.main-container {
  max-width: 1440px;
  background: white;
  margin: 0 auto;
}

.container .collapsible-header {
  cursor: pointer;
}

.container .content {
  display: none;
}

.collapseText {
  float: right;
  color: black;
}

.sectionTitle {
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

.picknikGreen {
  color: #27e6a1;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.plus {
  margin-left: 20px;
  color: white;
  padding: 20px;
  background: url("../images/black-circle.png") no-repeat center center;
}

form {
  width: 480px;
  margin: 20px auto 200px;
}

label {
  height: 35px;
  position: relative;
  color: #8798ab;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

label > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
  line-height: 32px;
  color: #8798ab;
  border-bottom: 1px solid #586a82;
  transition: border-bottom-color 200ms ease-in-out;
  cursor: text;
  pointer-events: none;
}

label > span span {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
  cursor: text;
}

label .field.is-focused + span span,
label .field:not(.is-empty) + span span {
  transform: scale(0.68) translateY(-36px);
  cursor: default;
}

label .field.is-focused + span {
  border-bottom-color: #34d08c;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: black;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  line-height: 32px;
  padding-bottom: 3px;
  transition: opacity 200ms ease-in-out;
}

.field::-webkit-input-placeholder {
  color: #8898aa;
}

.field::-moz-placeholder {
  color: #8898aa;
}

/* IE doesn't show placeholders when empty+focused */

.field:-ms-input-placeholder {
  color: #424770;
}

.field.is-empty:not(.is-focused) {
  opacity: 0;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success,
.error {
  display: none;
  font-size: 15px;
}

.success.visible,
.error.visible {
  display: inline;
}

.error {
  color: #e4584c;
}

.success, .text-green {
  color: #34d08c;
}

.success .token {
  font-weight: 500;
  font-size: 15px;
}

.rss-feed {
  display: block;
  margin: 0 auto;
  img {
    max-width: 100%;
    width: 48px;
  }
}
