.btn {
  color: #121929;
  background-color: #04e79f;
  padding: 10px 16px;
  min-width: 130px;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #04e79f;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #04e79f;
  }
}

.btn-blue {
  background-color: #547cd6;
  border-color: #547cd6;
  color: #ffffff;

  &:hover,
  &:focus {
    color: #547cd6;
    background-color: #ffffff;
  }
}

.btn-white {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #121929;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #04e79f;
  }

  &--blue-invert {
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #0757e8;
    }
  }
}
