.btn {
  color: #121929;
  background-color: #04e79f;
  padding: 10px 16px;
  min-width: 130px;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #04e79f;
  &:hover, &:focus {
    color: #ffffff;
    background-color: #04e79f;
  }
}
