/* Error Page */

.error-container {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
  }
}
