/*FOOTER*/

.footer {
  width: 100%;
  background-color: #121929;
  background-image: url('../images/redesign/bg-footer.svg');
  background-repeat: no-repeat;
  background-size: contain;

  ul {
    @media only screen and (max-width: 799px) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 15px;
    }

    @media only screen and (max-width: 479px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    li {
      list-style: none;

      @media only screen and (max-width: 1199px) {
        text-align: left;
      }

      @media only screen and (max-width: 799px) {
        text-align: center;
      }
    }
  }
}

.footerRow {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footerRow--with-border {
  border-bottom: 1px solid #4f4f4f;
}

.footerCol {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
  max-width: 50%;
  vertical-align: middle;
  text-align: left;
  padding-top: 52px;
  padding-bottom: 52px;

  @media only screen and (max-width: 1199px) {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.footerCol--left {
  justify-content: space-around;

  @media only screen and (max-width: 799px) {
    justify-content: center;
  }
}

.footerCol--right {
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 1199px) {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.footerLinks {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  margin-right: 30px;
  font-size: 16px;
  line-height: 40px;
  opacity: 0.8;
  @media only screen and (max-width: 1199px) {
    font-size: 13px;
  }
  &:hover {
    color: #04e79f;
  }
}

.footerLinks--dash {
  font-size: 14px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  margin-right: 20px;
  position: relative;

  &::before {
    content: '-';
    position: absolute;
    left: 0px;
  }
}

.footerLinks1 {
  color: #9b9ea5;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  @media only screen and (max-width: 1199px) {
    font-size: 13px;
  }
  &:hover {
    color: #04e79f;
  }
}

.ros {
  color: #04e79f;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  @media only screen and (max-width: 1199px) {
    font-size: 13px;
  }
  &:hover {
    color: #04e79f;
  }
}

.footerText {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  line-height: 28px;
  padding-left: 15%;
  opacity: 0.8;
  @media only screen and (max-width: 1199px) {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 0%;
  }
}

.footerText--max-width {
  @media only screen and (max-width: 1199px) {
    max-width: 750px;
    margin: 0 auto;
  }
}

.footerText2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1199px) {
    flex-direction: column-reverse;
  }
  a {
    color: rgba(255, 255, 255, 1);
    &:hover {
      color: #04e79f;
    }
  }
}

.logo2 {
  width: 140px;
  height: 44px;
}

.footer-copyright {
  max-width: 330px;
  @media screen and (max-width: 1199px) {
    max-width: 100%;
  }
}

.footer-social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  a {
    margin-left: 16px;
  }
}

.footer-contact {
  padding-left: 15%;
  font-size: 20px;
  margin-top: 16px;

  @media only screen and (max-width: 1199px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 1199px) {
    padding-left: 0%;
  }

  @media only screen and (max-width: 520px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  a {
    color: #ffffff;

    @media only screen and (max-width: 520px) {
      margin-bottom: 10px;
    }
  }

  .footer-contact-img-wrapper {
    margin-right: 8px;

    img {
      margin-bottom: 3px;
    }
  }

  .footer-contact-text {
    margin-right: 40px;

    @media only screen and (max-width: 1199px) {
      margin-right: 30px;
    }

    @media only screen and (max-width: 520px) {
      margin-right: 0;
    }
  }
}
