/*FOOTER*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #121929;
  background-image: url("../images/redesign/bg-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (max-width: 503px) {
    position: static;
  }
}

.footerRow1 {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #4f4f4f;
}

.footerRow {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.footerColL {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: left;
  padding-top: 52px;
  padding-bottom: 52px;
  @media only screen and (max-width: 992px) {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.footerColR {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: left;
  padding-top: 52px;
  padding-bottom: 52px;
  @media only screen and (max-width: 992px) {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
  }
}

a.footerLinks {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  margin-right: 30px;
  font-size: 16px;
  line-height: 40px;
  opacity: 0.8;
  @media only screen and (max-width: 992px) {
    font-size: 13px;
  }
  &:hover {
    color: #04e79f;
  }
}

a.footerLinks1 {
  color: #9b9ea5;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  @media only screen and (max-width: 992px) {
    font-size: 13px;
  }
  &:hover {
    color: #04e79f;
  }
}

a.ros {
  color: #04e79f;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  @media only screen and (max-width: 992px) {
    font-size: 13px;
  }
  &:hover {
    color: #04e79f;
  }
}

.footerText {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  line-height: 28px;
  padding-left: 15%;
  opacity: 0.8;
  @media only screen and (max-width: 992px) {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding-left: 0%;
  }
}

.footerText2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
  }
    a {
    color: rgba(255, 255, 255, 1.0);
    &:hover {
      color: #04e79f;
    }
  }
}

.logo2 {
  width: 140px;
  height: 44px;
}
.footer-copyright {
  max-width: 330px;
  @media screen and (max-width: 992px) {
    max-width: 100%;
  }
}

.footer-social{
  @media screen and (max-width: 992px) {
    margin-bottom: 20px;
  }
  a {
    margin-left: 16px;
  }
}

.footer-contact {
  padding-left: 15%;
  font-size: 20px;
  margin-top: 16px;
  
  @media only screen and (max-width: 1199px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 992px) {
    padding-left: 0%;
  }
  
  @media only screen and (max-width: 520px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  a {
    color: #ffffff;

    @media only screen and (max-width: 520px) {
      margin-bottom: 10px;
    }
  }

  .footer-contact-img-wrapper {
    margin-right: 8px;

    img {
      margin-bottom: 3px;
    }
  }

  .footer-contact-text {
    margin-right: 40px;

    @media only screen and (max-width: 1199px) {
      margin-right: 30px;
    }

    @media only screen and (max-width: 520px) {
      margin-right: 0;
    }
  }
}