/*HEADER*/

.menuR1 {
  width: 30px;
  height: 20px;
  position: absolute;
  top: -37px;
  right: 51px;
  filter: invert(100%);
}

.menuR1:hover {
  cursor: pointer;
}

.respMenu {
  display: none;
}

.header {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.headerCol1 {
  display: table-cell;
  width: 30%;
  vertical-align: middle;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerCol2 {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.headerCol3 {
  width: 30%;
  vertical-align: middle;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 140px;
  height: 44px;
  margin-left: 60px;
}

a.headerLinks:link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}

a.headerLinks:visited {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 2px;
}

a.headerLinks:hover {
  color: #04e79f;
}

a.headerLinks1:link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}

a.headerLinks1:visited {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}

a.headerLinks1:hover {
  color: #04e79f;
}

.contactButton {
  font-weight: 500;
  font-size: 11px;
  padding: 10px 35px 10px 35px;
  background-color: #04e79f;
  color: #000;
  text-align: center;
  border-radius: 3px;
  border: 2px solid #04e79f;
  position: absolute;
  letter-spacing: 2px;
  top: 15px;
  right: 80px;
}

.applyButton {
  font-weight: 500;
  font-size: 11px;
  padding: 10px 35px 10px 35px;
  background-color: #04e79f;
  color: #000;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.consultationButton {
  margin-top: 40px;
  font-weight: 500;
  letter-spacing: 0.0625em;
  font-size: 11px;
  padding: 16px 10px 16px 10px;
  background-color: #04e79f;
  color: #000;
  text-align: center;
  border-radius: 3px;
  width: 250px;
}

.arrow-right {
  margin-left: 8px;
  height: 10px;
}

.contactButton:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
  border: 2px solid #000;
}

.applyButton:hover {
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.floatBut {
  float: right;
}