/*HOME-INTEGRATION*/

.integration {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 200px;
  background-color: #fff;
}

.integration2 {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.integTitle {
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

.integSubText {
  font-size: 16px;
  color: #333;
  font-weight: 300;
  line-height: 24px;
  padding-left: 15%;
  padding-right: 15%;
}

.integSubText2 {
  font-size: 16px;
  color: #000;
  font-weight: 300;
  line-height: 24px;
}

.lineN {
  width: 75px;
  height: 4px;
  background-color: #000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.integIcon {
  width: 206px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}
