/*HOME INTRO*/

#section2 {
  padding-top: 50px;
}

.section3 {
  padding-bottom: 100px;
}

.intro {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.introCol1 {
  display: table-cell;
  width: 33%;
  vertical-align: middle;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url('../images/roboto-intro.jpg');
  background-size: cover;
  background-position: center center;
}

.introCol2 {
  display: table-cell;
  width: 67%;
  vertical-align: middle;
  text-align: left;
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: #f2f2f2;
}

.introPadding {
  padding-left: 15%;
  padding-right: 15%;
}

.valuePadding {
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

.introPadding2 {
  padding-left: 10%;
  padding-right: 10%;
}

.introTitle {
  text-align: left;
  font-size: 36px;
  color: #000;
  font-weight: 500;
}

.introTitleS {
  font-size: 36px;
  color: #000;
  font-weight: 500;
  display: inline-block;
}

.introSubText {
  font-size: 14px;
  color: #000;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 40px;
  padding-right: 15%;
}

.line {
  width: 75px;
  height: 4px;
  background-color: #000;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.line2 {
  width: 75px;
  height: 4px;
  background-color: #000;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

.bullet {
  display: inline;
  color: #04e79f;
  font-weight: bold;
}

.introLogos {
  width: 360px;
  height: 60px;
}
