/*MISSION STATEMENT*/

.missionState {
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
  padding-top: 80px;
  padding-bottom: 80px;
}

.missionText {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  line-height: 22px;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.missionLogo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.missionText2 {
  font-size: 14px;
  color: #27e6a1;
  font-weight: 500;
  line-height: 22px;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 40px;
  margin-top: 40px;
}
