.services-section-main {
  margin: 60px auto 200px;
  @media screen and (max-width: 992px) {
    margin: 30px auto 200px;
  }
  .services-section-main-title {
    margin-bottom: 0;
  }
  .services-section-main-title--small {
    font-size: 24px;
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
      display: block;
    }
  }
  p {
    font-size: 18px;
    line-height: 34px;
  }
}

.services-card-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -100px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.services-card-single {
  padding: 0 40px 40px;
  background: #ffffff;
  flex: 0 0 30.333333%;
  max-width: 30.333333%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  @media screen and (max-width: 1199px) {
    max-width: 49%;
    flex: 0 0 49%;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 992px) {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  img {
    width: 200px;
    max-width: 100%;
    margin-bottom: 30px;
  }
  h3 {
    font-weight: 500;
    margin-bottom: 25px;
  }
  p {
    text-align: left;
    min-height: 350px;
    line-height: 30px;
    margin-bottom: 40px;
    @media screen and (max-width: 992px) {
      min-height: auto;
    }
  }
  .btn {
    text-transform: uppercase;
    margin: 0 auto;
    display: table;
  }
}

.services-robotic-section-main {
  img {
    max-width: 100%;
    margin: 0 auto;
    display: table;
  }
  p {
    font-size: 18px;
    line-height: 34px;
  }
}

.services-robotic-card-wrapper {
  padding: 80px 0;
  @media screen and (max-width: 992px) {
    padding: 40px 0;
  }
  p {
    font-size: 18px;
    line-height: 34px;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
    display: table;
  }
}

.services-brand-content {
  position: relative;
  padding: 0 20px;
  p {
    font-size: 26px;
    line-height: 44px;
    color: #121929;
  }
  span {
    color: #04e79f;
    font-size: 64px;
    position: absolute;
    left: -20px;
    top: -12px;
  }
}

.services-moveit-section-main {
  margin: 60px auto;
  @media screen and (max-width: 992px) {
    margin: 30px auto;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
    display: table;
  }
  ul {
    @media screen and (max-width: 992px) {
      margin-top: 30px;
    }
    li {
      position: relative;
      list-style: none;
      margin-bottom: 20px;
      color: #3c4a69;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      padding-left: 35px;
      span{
        position: absolute;
        left: 0;
        top: 5px;
        img {
          width: 18px;
        }
      }

    }
  }
}

.moveit-logo-wrapper {
  width: 300px;
  max-width: 100%;
  p {
    color: #0a57f7;
    text-align: right;
    margin: 5px 30px 0;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
  }
}

.services-moveit-content {
  padding: 20px 0;
}

.services-moveit-offer-section {
  text-align: center;
  padding-bottom: 80px;
  h3.lightHead {
    font-weight: 500;
  }
  p {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 24px;
  }
}

.service-moveit-offer-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.service-moveit-offer {
  padding: 40px;
  background: #ffffff;
  max-width: 488px;
  flex: 0 0 488px;
  margin: 32px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  text-align: center;
  @media screen and (max-width: 992px) {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
  }

  img {
    width: 166px;
    max-width: 100%;
    margin-bottom: 48px;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 25px;
  }
  p {
    min-height: 130px;
    line-height: 30px;
    margin-bottom: 40px;
    @media screen and (max-width: 992px) {
      min-height: auto;
    }
  }
  .btn {
    text-transform: uppercase;
    margin: 0 auto;
    display: table;
  }
}

#service-moveit-offer-last-text {
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  a {
    color: #04e79f;
    &:hover {
      text-decoration: underline;
    }
  }
}
