/*SUPPORT PAGE*/

.ctaSupport {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 80px;
}

.ctaIcon {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

.ctaButton {
  font-weight: 500;
  font-size: 11px;
  padding: 10px 35px 10px 35px;
  background-color: #04e79f;
  color: #000;
  text-align: center;
  border-radius: 3px;
  margin-right: 60px;
  border: 2px solid #04e79f;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 80px;
  margin-top: 30px;
}

.ctaButton:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

.ctaText {
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

.ctaSubText {
  font-size: 16px;
  color: #000;
  font-weight: 300;
  line-height: 22px;
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 25px;
}

.sppHero {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  background-image: url('../images/suppbg.jpg');
  background-size: cover;
}

.sppWrap {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.sppHeroTitle {
  font-size: 56px;
  color: #fff;
  font-weight: 500;
}

.sppHeroSubTitle {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}

.sppLine {
  width: 75px;
  height: 4px;
  background-color: #fff;
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sppRow {
  display: table;
  height: auto;
  position: relative;
  width: 50%;
}

.sppCol1 {
  display: table-cell;
  width: 1%;
  vertical-align: top;
  text-align: left;
}

.sppCol2 {
  display: table-cell;
  width: 20%;
  vertical-align: top;
  text-align: left;
}

.sppArrow {
  width: 20px;
  height: 20px;
  margin-bottom: 30px;
  margin-right: -10px;
  margin-top: 5px;
}

.sppText {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  line-height: 24px;
  padding-left: 15px;
}

.sppEngage {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.sppEngageWrap {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.sppEngageTitle {
  font-size: 40px;
  color: #000;
  font-weight: 500;
}

.sppEngageRow {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
}

.sppEngageRow1 {
  display: table;
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.sppEngageCol1 {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  text-align: left;
}

.sppEngageCol2 {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  text-align: left;
}

.sppEngageSubTitle {
  font-size: 16px;
  color: #04e79f;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
}

.sppEngageSubText {
  font-size: 14px;
  color: #000;
  font-weight: 300;
  line-height: 22px;
  padding-right: 10%;
}
