<head>
    {% include head.html %} {% if link.url contains page.url %} {% assign current = 'current' %} {% endif %}
</head>

<body>
    {% include menu.html %}
    <div class="site-container">
        <div class="hero" id="section1">
            <div class="heroCol1">
                <div class="heroPad">
                    <div class="heroTitle">ACCELERATE YOUR <br> ROBOTICS DEVELOPMENT</div>
                    <div class="line"></div>
                    <div class="heroSubText">
                        PickNik combines world-class robotics expertise and state of the art open source robotics frameworks to save you time and money. We offer flexible support and development to ensure your project's success. From ROS integration to complex inverse kinematics
                        and motion planning, we have you covered.
                    </div>
                </div>
            </div>
            <div class="heroCol2">
                <img class="heroImg" src="./assets/images/hero2.png" alt="hero image">
            </div>
        </div>
        <div class="intro" id="section2">
            <div class="introCol1"></div>
            <div class="introCol2">
                <div class="introPadding">
                    <div class="introTitle">SOLVE YOUR UNIQUE
                        <br/>ROBOTIC CHALLENGES</div>
                    <div class="line"></div>
                    <div class="introSubText">
                        We strongly believe in the benefits of open source, such as avoiding vendor lock in and allowing your engineers to modify any software as they see fit. PickNik is the lead maintainer of the
                        <a class="picknikGreen bold underline" target="_blank" href="https://moveit.ros.org/">
                            MoveIt Motion Planning Framework</a>. In addition, we contribute to and advocate the Robotic Operating System (ROS) including the following components:
                        <br/>
                        <br/>
                        <div class="bullet">□</div> ROS Control and Real-time Systems
                        <br/>
                        <div class="bullet">□</div> The Open Motion Planning Library (OMPL)
                        <br/>
                        <div class="bullet">□</div> ROS Navigation Stack
                        <br/>
                        <div class="bullet">□</div> Gazebo Simulation
                    </div>
                    <img class="introLogos" src="./assets/images/logos-2.png" alt="MoveIt, Gazebo and ROS logos">
                    <a href="./connect">
                        <div class="consultationButton">REQUEST FREE CONSULTATION <img class="arrow-right" src="./assets/images/arrow-right.png" alt="right arrow icon" /></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="intro" id="section3">
            <div class="introCol2P">
                <div class="introPadding2">
                    <div class="introTitle" style="text-align: center;">Our Work</div>
                    <div class="lineN"></div>
                    <div class="pLogosRow">
                        <img class="pLogos" src="./assets/images/google-logo.png" alt="Google logo">
                        <img class="pLogos" src="./assets/images/verb-logo.png" alt="Verb Surgical logo">
                        <img class="pLogos" src="./assets/images/amazon-logo.png" alt="Amazon logo">
                        <img class="pLogos" src="./assets/images/vicarious-logo-2.png" alt="Vicarious logo">
                        <br class="onlyLg">
                        <img class="pLogos" src="./assets/images/kindred-logo.png" alt="Kindred logo">
                        <img class="pLogos" src="./assets/images/franka-logo-2.png" alt="Franka Emika logo">
                        <img class="pLogos" src="./assets/images/carbon-logo-2.png" alt="Carbon Robotics logo">
                        <br class="onlyLg">
                        <img class="pLogos" src="./assets/images/aescape-logo.png" alt="Aescape logo">
                        <img class="pLogos" src="./assets/images/iunu-logo.png" alt="Iunu logo">
                        <img class="pLogos" src="./assets/images/houston-logo.png" alt="Houson Mechatronics logo">
                        <img class="pLogos" src="./assets/images/tethers-logo.png" alt="Tethers Unlimited logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="servicesCont">
            <div class="services">
                <div class="servicesTitle">SERVICES</div>
                <div class="lineN"></div>
                <div class="servicesRow">
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#motion_planning_service';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#motion_planning_service"><img class="sIcon" src="./assets/images/icon1.png" alt="motion planning icon"></a><br>
                        <a href="{{site.baseurl}}/services#motion_planning_service" class="sLink">MOTION PLANNING</a>
                        <div class="sSubTitle">FOR HIGH-DOF SYSTEMS</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#advanced_inverse_kinematics';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#advanced_inverse_kinematics"><img class="sIcon" src="./assets/images/icon2.png" alt="advanced inverse kinematics icon"></a><br>
                        <a href="{{site.baseurl}}/services#advanced_inverse_kinematics" class="sLink">ADVANCED INVERSE KINEMATICS</a>
                        <div class="sSubTitle">WITH COMPLEX CONSTRAINTS</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#real_time_control';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#real_time_control"><img class="sIcon" src="./assets/images/icon3.png" alt="real time control icon"></a><br>
                        <a href="{{site.baseurl}}/services#real_time_control" class="sLink">REAL-TIME CONTROL</a>
                        <div class="sSubTitle">OF ROBOTIC ARMS</div>
                    </div>
                </div>
                <div class="servicesRow">
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#advanced_inverse_kinematics';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#collision_avoidance"><img class="sIcon" src="./assets/images/icon4.png" alt="collision avoidance icon"></a><br>
                        <a href="{{site.baseurl}}/services#collision_avoidance" class="sLink">COLLISION AVOIDANCE</a>
                        <div class="sSubTitle">IN CLUTTERED ENVIRONMENTS</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#ros_framework_design';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#ros_framework_design"><img class="sIcon" src="./assets/images/icon5.png" alt="ROS system integration icon"></a><br>
                        <a href="{{site.baseurl}}/services#ros_framework_design" class="sLink">ROS SYSTEM INTEGRATION</a>
                        <div class="sSubTitle">FRAMEWORK DESIGN</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#2d_navigation';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#2d_navigation"><img class="sIcon" src="./assets/images/icon6.png" alt="navigation icon"></a><br>
                        <a href="{{site.baseurl}}/services#2d_navigation" class="sLink">2D NAVIGATION</a>
                        <div class="sSubTitle">OF MOBILE BASES</div>
                    </div>
                </div>
                <div class="servicesRow">
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#virtual_reality';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#virtual_reality"><img class="sIcon" src="./assets/images/icon7.png" alt="virtual reality icon"></a><br>
                        <a href="{{site.baseurl}}/services#virtual_reality" class="sLink">SIMULATION & VR</a>
                        <div class="sSubTitle">GAZEBO, RVIZ & VIRTUAL REALITY</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#robot_modelling';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#robot_modelling"><img class="sIcon" src="./assets/images/icon8.png" alt="robot modelling icon"></a><br>
                        <a href="{{site.baseurl}}/services#robot_modelling" class="sLink">ROBOT MODELLING</a>
                        <div class="sSubTitle">SOLIDWORKS TO URDF</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services#workspace_analysis';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services#workspace_analysis"><img class="sIcon" src="./assets/images/ruler-icon.png" alt="workspace analysis icon"></a><br>
                        <a href="{{site.baseurl}}/services#workspace_analysis" class="sLink">WORKSPACE ANALYSIS</a>
                        <div class="sSubTitle">REACHABILITY, USABILITY STUDIES</div>
                    </div>
                </div>
                <div class="servicesRow">
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services"><img class="sIcon" src="./assets/images/ros2-icon.png" alt="ROS2 icon"></a><br>
                        <a href="{{site.baseurl}}/services" class="sLink">ROS 2 MIGRATION</a>
                        <div class="sSubTitle">DDS, COLCON, & MANAGED NODES</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services"><img class="sIcon" src="./assets/images/cloud-icon.png" alt="Cloud icon"></a><br>
                        <a href="{{site.baseurl}}/services" class="sLink">CLOUD INTEGRATION</a>
                        <div class="sSubTitle">AMAZON ROBOMAKER, GOOGLE CLOUD</div>
                    </div>
                    <div class="servicesCol" onclick="location.href='{{site.baseurl}}/services';" style="cursor:pointer;">
                        <a href="{{site.baseurl}}/services"><img class="sIcon" src="./assets/images/react-icon.png" alt="React icon"></a><br>
                        <a href="{{site.baseurl}}/services" class="sLink">WEB-BASED ROBOT CONTROL</a>
                        <div class="sSubTitle">REACT / PYTHON APPS</div>
                    </div>
                </div>
                <div class="servicesRowR">
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#motion_planning_service"><img class="sIcon" src="./assets/images/icon1.png" alt="motion planning icon"></a><br>
                        <a href="{{site.baseurl}}/services#motion_planning_service" class="sLink">MOTION PLANNING</a>
                        <div class="sSubTitle">IN CLUTTERED ENVIRONMENTS</div>
                    </div>
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#advanced_inverse_kinematics"><img class="sIcon" src="./assets/images/icon2.png" alt="advanced inverse kinematics icon"></a><br>
                        <a href="{{site.baseurl}}/services#advanced_inverse_kinematics" class="sLink">ADVANCED INVERSE KINEMATICS</a>
                        <div class="sSubTitle">COMPLEX CONSTRAINTS</div>
                    </div>
                </div>
                <div class="servicesRowR">
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#real_time_control"><img class="sIcon" src="./assets/images/icon3.png" alt="real time control icon"></a><br>
                        <a href="{{site.baseurl}}/services#real_time_control" class="sLink">REAL-TIME CONTROL</a>
                        <div class="sSubTitle">ROBOTIC ARMS</div>
                    </div>
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#collision_avoidance"><img class="sIcon" src="./assets/images/icon4.png" alt="collision avoidance icon"></a><br>
                        <a href="{{site.baseurl}}/services#collision_avoidance" class="sLink">COLLISION AVOIDANCE</a>
                        <div class="sSubTitle">AVOID LOCAL MINIMUM</div>
                    </div>
                </div>
                <div class="servicesRowR">
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#ros_framework_design"><img class="sIcon" src="./assets/images/icon5.png" alt="ROS framework design icon"></a><br>
                        <a href="{{site.baseurl}}/services#ros_framework_design" class="sLink">ROS FRAMEWORK DESIGN</a>
                        <div class="sSubTitle">SYSTEM ANALYSIS</div>
                    </div>
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#2d_navigation"><img class="sIcon" src="./assets/images/icon6.png" alt="navigation icon"></a><br>
                        <a href="{{site.baseurl}}/services#2d_navigation" class="sLink">2D NAVIGATION</a>
                        <div class="sSubTitle">MOBILE BASES</div>
                    </div>
                </div>
                <div class="servicesRowR">
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#virtual_reality"><img class="sIcon" src="./assets/images/icon7.png" alt="virtual reality icon"></a><br>
                        <a href="{{site.baseurl}}/services#virtual_reality" class="sLink">VIRTUAL REALITY</a>
                        <div class="sSubTitle">FOR MOBILE CONTROL</div>
                    </div>
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#robot_modelling"><img class="sIcon" src="./assets/images/icon8.png" alt="robot modelling icon"></a><br>
                        <a href="{{site.baseurl}}/services#robot_modelling" class="sLink">ROBOT MODELLING</a>
                        <div class="sSubTitle">SOLIDWORKS, URDF</div>
                    </div>
                </div>
                <div class="servicesRowR">
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services#workspace_analysis"><img class="sIcon" src="./assets/images/ruler-icon.png" alt="ruler icon"></a><br>
                        <a href="{{site.baseurl}}/services#workspace_analysis" class="sLink">WORKSPACE ANALYSIS</a>
                        <div class="sSubTitle">REACHABILITY, USABILITY STUDIES</div>
                    </div>
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services"><img class="sIcon" src="./assets/images/ros2-icon.png" alt="ROS 2 icon"></a><br>
                        <a href="{{site.baseurl}}/services" class="sLink">ROS 2 MIGRATION</a>
                        <div class="sSubTitle">DDS, COLCON, & MANAGED NODES</div>
                    </div>
                </div>
                <div class="servicesRowR">
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services"><img class="sIcon" src="./assets/images/cloud-icon.png" alt="Cloud icon"></a><br>
                        <a href="{{site.baseurl}}/services" class="sLink">CLOUD INTEGRATION</a>
                        <div class="sSubTitle">AMAZON ROBOMAKER, GOOGLE CLOUD</div>
                    </div>
                    <div class="servicesColR">
                        <a href="{{site.baseurl}}/services"><img class="sIcon" src="./assets/images/react-icon.png" alt="React icon"></a><br>
                        <a href="{{site.baseurl}}/services" class="sLink">WEB-BASED ROBOT CONTROL</a>
                        <div class="sSubTitle">REACT / PYTHON APPS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="integration">
            <img class="integIcon" src="./assets/images/integration-icons.jpg" alt="robot icons">
            <div class="integTitle">INTEGRATION FOR ALL</div>
            <div class="lineN"></div>
            <div class="integSubText">By leveraging open standards and best practices we are compatible with almost
                any kind of hardware. Our software is robot-agnostic and we are experienced in the integration of
                robotic hardware including Universal Robotics (UR3/UR5/UR10), Franka Emika (Panda), Kuka, ABB, Kinova,
                and many custom platforms.</div>
        </div>
        <div class="lightgreybg">
            <div class="caseStudies">
                <div class="recTitle text-center">CASE STUDIES</div>
                <div class="lineRec"></div>
                <div class="caseCol">
                    <a href="./case-study-vicarious">
                        <img src="./assets/images/vicarious-cs.png" class="caseStudyImage" alt="Baxter robot">
                        <div class="whiteBox">
                            <div class="caseSubBox">
                                <div class="greenLine">
                                </div>
                                <div class="greenCaseName">VICARIOUS</div>
                                <div class="caseTitle">AI FOR THE ROBOT AGE</div>
                                <hr>
                                <div class="caseRow">
                                    <div class="caseSubCol1">
                                        <img class="caseLogo" src="./assets/images/vicarious-logo.png" alt="Vicarious logo">
                                    </div>
                                    <div class="caseSubCol2 line-clamp">
                                        <div class="caseStudySubText">
                                            Improving Baxter robot to work on the latest Gazebo simulator and ROS release.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="caseCol">
                    <a href="./case-study-franka">
                        <img src="./assets/images/franka-cs.png" class="caseStudyImage" alt="Panda robot">
                        <div class="whiteBox">
                            <div class="caseSubBox">
                                <div class="greenLine">
                                </div>
                                <div class="greenCaseName">FRANKA EMIKA</div>
                                <div class="caseTitle">ROBOTS FOR EVERYONE</div>
                                <hr>
                                <div class="caseRow">
                                    <div class="caseSubCol1">
                                        <img class="caseLogo" src="./assets/images/franka-logo.png" alt="Franka Emika logo">
                                    </div>
                                    <div class="caseSubCol2 line-clamp">
                                        <div class="caseStudySubText">
                                            Codesprint to make Panda the flagship robot of the MoveIt! tutorials.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="caseCol">
                    <a href="./case-study-carbon">
                        <img src="./assets/images/carbon-cs.png" class="caseStudyImage" alt="Carbon Robotics arm">
                        <div class="whiteBox">
                            <div class="caseSubBox">
                                <div class="greenLine">
                                </div>
                                <div class="greenCaseName">CARBON ROBOTICS</div>
                                <div class="caseTitle">ADVANCED ROBOTICS TO THE MASSES</div>
                                <hr>
                                <div class="caseRow">
                                    <div class="caseSubCol1">
                                        <img class="caseLogo" src="./assets/images/carbon-logo.png" alt="Carbon Robotics logo">
                                    </div>
                                    <div class="caseSubCol2 line-clamp">
                                        <div class="caseStudySubText">
                                            Leveraging MoveIt! for the application layer of a robot hardware manufacturer.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="rec">
                    <div class="recTitle">RECOMMENDATIONS</div>
                    <div class="lineRec"></div>
                    <div class="recRow">
                        <div class="recColL">
                            <div class="recPad">
                                <div class="recText">
                                    <div class="recQ">"</div>Excellent job... The final product worked seamlessly and was accompanied by extremely thorough documentation of usage, and several additional features and improvements that we hadn't specifically asked for. It
                                    was the best experience I've had working with an external consultant and I would highly recommend."</div>
                                <a href="https://www.linkedin.com/in/bhaskara-marthi-6a197513/" target="_blank">
                                    <div class="recName">DR. BHASKARA MARTHI</div>
                                    <div class="recPos">Head of Robotics, Vicarious</div>
                                </a>
                            </div>
                        </div>
                        <div class="recColR">
                            <div class="recPad">
                                <div class="recText">
                                    <div class="recQ">"</div>I can only describe as exceptional... By being able to listen and absorb the information contained in the spec prepared for the project, by being able to identify the key functional requirements and then ask
                                    insightful questions regarding those requirements...was able to make major contributions to the code base, and to the project in general, in a very short amount of time."</div>
                                <a href="https://www.linkedin.com/in/brett-aldrich-42915b97/" target="_blank">
                                    <div class="recName">BRETT ALDRICH</div>
                                    <div class="recPos">CEO, ReelRobotix</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="recRow">
                        <div class="recColL2">
                            <div class="recPad">
                                <div class="recText">
                                    <div class="recQ">"</div>I highly recommend Dave for his work with me on a ROS based real-time reactive performance application for human-safe robotic planning implemented on a KUKA IIWA robotic arm. Dave is a self motivated problem
                                    solver and tackles problems holistically. He demonstrated a strong ability to navigate ambiguity and help define the requirements... I hope I have the opportunity to work with him again."</div>
                                <a href="https://www.linkedin.com/in/daden/" target="_blank">
                                    <div class="recName">DANIEL ADEN</div>
                                    <div class="recPos">Engineering, Google</div>
                                </a>
                            </div>
                        </div>
                        <div class="recColR2">
                            <div class="recPad">
                                <div class="recText">
                                    <div class="recQ">"</div>Dave continued (3 years and counting) to be a committed developer for MoveIt!, working mostly on his own, fixing bugs and adding features throughout the MoveIt! codebase. Over the last year Dave has taken the
                                    lead with organizing the contributions other developers make to this project. Dave is an engineer I would always work with, no matter the project. His attitude towards work, always striving to make sure problems are
                                    not swept under the rug, that the best solutions are employed, that clean and correct code is written make him a fantastic developer who writes efficient, high quality code."</div>
                                <a href="https://www.linkedin.com/in/ioansucan/" target="_blank">
                                    <div class="recName">DR. IOAN SUCAN</div>
                                    <div class="recPos">Senior Software Engineer, Waymo Self-Driving Cars</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="missionState">
        <img class="missionLogo" src="./assets/images/plogo.png" alt="Picknik mission logo">
        <div class="missionText2">PickNik Mission Statement</div>
        <div class="missionText">Support the worldwide open source robotics movement through community building, consulting expertise, and the development of highly-capable motion planning software.</div>
    </div>

    {% include footer.html %}
</body>
