<head>
    {% include head.html %} {% if link.url contains page.url %} {% assign current = 'current' %} {% endif %}
</head>

<body>
    {% include menu.html %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="block-section">
                    <h1 class="block-section__title">Accelerate your <br> robotics development</h1>
                    <div class="block-section__content">
                        <p>
                            PickNik combines world-class robotics expertise and state of the art open source robotics frameworks to save you time and money. We offer flexible support and development to ensure your project's success. From ROS integration to complex inverse kinematics
                            and motion planning, we have you covered.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img class="block-section__img" src="/assets/images/hero2.png" alt="hero image">
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grey">
        <div class="container block-padding-120">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <img class="block-section__img" src="/assets/images/services-medical-robot.png" alt="Services medical robot image">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="block-section">
                        <h2 class="block-section__title">Solve your unique<br/>robotic challenges</h2>
                        <div class="block-section__content">
                            <p>
                                We strongly believe in the benefits of open source, such as avoiding vendor lock in and allowing your engineers to modify any software as they see fit. PickNik is the lead maintainer of the
                                <a target="_blank" href="https://moveit.ros.org/">MoveIt Motion Planning Framework</a>.
                                In addition, we contribute to and advocate the <a target="_blank" href="https://ros.org/">Robotic Operating System (ROS)</a> including the following components:
                            </p>
                            <div style="display: flex; flex-wrap: wrap;">
                                <ul class="green-square col-sm-12 col-md-6 flex-column d-flex">
                                    <li>ROS Control and Real-time Systems</li>
                                    <li>Open Motion Planning Library (OMPL)</li>
                                </ul>
                                <ul class="green-square col-sm-12 col-md-6 flex-column d-flex">
                                    <li>ROS Navigation Stack</li>
                                    <li>Gazebo Simulation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container block-padding-100">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-sm-12">
                <h3 class="block-section__title">Our Work</h3>
            </div>
            <div class="col-sm-12">
                <img class="our-works-logos" src="/assets/images/google-logo.png" alt="Google logo">
                <img class="our-works-logos" src="/assets/images/verb-logo.png" alt="Verb Surgical logo">
                <img class="our-works-logos" src="/assets/images/amazon-logo.png" alt="Amazon logo">
                <img class="our-works-logos" src="/assets/images/vicarious-logo-2.png" alt="Vicarious logo">
                <br class="onlyLg">
                <img class="our-works-logos" src="/assets/images/kindred-logo.png" alt="Kindred logo">
                <img class="our-works-logos" src="/assets/images/franka-logo-2.png" alt="Franka Emika logo">
                <img class="our-works-logos" src="/assets/images/carbon-logo-2.png" alt="Carbon Robotics logo">
                <br class="onlyLg">
                <img class="our-works-logos" src="/assets/images/numurus-logo.png" alt="Numurus logo">
                <img class="our-works-logos" src="/assets/images/iunu-logo.png" alt="Iunu logo">
                <img class="our-works-logos" src="/assets/images/houston-logo.png" alt="Houson Mechatronics logo">
                <img class="our-works-logos" src="/assets/images/tethers-logo.png" alt="Tethers Unlimited logo">
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grey">
        <div class="container block-padding-120">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-sm-12">
                    <h3 class="block-section__title">Areas of Expertise</h3>
                </div>
                <div class="col-sm-12 block-expertice-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#motion-planning">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/icon1.png" alt="motion planning icon">
                                </div>
                                <h4>Motion<br/> Planning</h4>
                                <span class="subTitle">With Collision Avoidance</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#advanced-inverse-kinematics">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/icon2.png" alt="advanced inverse kinematics icon">
                                </div>
                                <h4>Advanced<br/> Inverse Kinematics</h4>
                                <span class="subTitle">With Complex Constraints</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#realtime-control">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/icon3.png" alt="real time control icon">
                                </div>
                                <h4>Real-time Motion<br/> Generation / Control</h4>
                                <span class="subTitle">Reactive and Closed-Loop for High-DOF Systems</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#ROS-framework-design">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/icon5.png" alt="ROS system integration icon">
                                </div>
                                <h4>ROS / ROS 2<br/> System Design</h4>
                                <span class="subTitle">Integration, Migration, Framework Design</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#2D-navigation">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/icon6.png" alt="navigation icon">
                                </div>
                                <h4>2D<br/> Navigation</h4>
                                <span class="subTitle">Of Mobile Bases</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#virtual-reality">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/icon7.png" alt="collision avoidance icon">
                                </div>
                                <h4>Simulation & Virtual Reality</h4>
                                <span class="subTitle">Gazebo, Rviz, Unity 3D</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#robot-modelling">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/icon8.png" alt="ROS system integration icon">
                                </div>
                                <h4>Robot Modeling<br/> Workspace Analysis</h4>
                                <span class="subTitle">URDF Generation, Reachability, Usability</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#cloud-integration">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/cloud-icon.png" alt="ROS system integration icon">
                                </div>
                                <h4>Cloud<br/> Integration</h4>
                                <span class="subTitle">Amazon Robomaker</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 block-expertice-single">
                            <a href="/services/robotics-consulting/#web-based-robot-control">
                                <div class="img-wrapper">
                                    <img class="icon" src="/assets/images/react-icon.png" alt="navigation icon">
                                </div>
                                <h4>Robot User<br/> Interfaces</h4>
                                <span class="subTitle">Web-based and Qt-based Control</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 block-expertice-footer">
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <h3><span>*</span>Robot agnostic to<br/>avoid vendor lock-in</h3>
                        </div>
                        <div class="col-12 col-lg-7">
                            <p>
                                By leveraging open standards and best practices we are compatible with almost
                                any kind of hardware. Our software is robot-agnostic and we are experienced in the integration of
                                robotic hardware including Universal Robotics (UR3/UR5/UR10), Franka Emika (Panda), Kuka, ABB, Kinova,
                                and many custom platforms.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container block-padding-120" style="position: relative;">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-12">
                <h3 class="block-section__title">Case studies</h3>
            </div>
        </div>
        <div class="row">
            <ul id="lightSlider">
                <li>
                    <a class="casestudies-single" href="/case-study-vicarious/">
                        <img src="/assets/images/redesign/blog-1.png" class="img-fluid mx-auto d-block" alt="img1">
                        <div class="casestudies-content">
                            <h4>AI FOR THE ROBOT AGE</h4>
                            <p>Improving Baxter robot to work on the latest Gazebo simulator and ROS release.</p>
                            <img class="casestudies-logo" src="/assets/images/vicarious-logo-2.png" alt="Vicarious logo">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="casestudies-single" href="/case-study-franka/">
                        <img src="/assets/images/redesign/blog-2.png" class="img-fluid mx-auto d-block" alt="img2">
                        <div class="casestudies-content">
                            <h4>ROBOTS FOR EVERYONE</h4>
                            <p>Codesprint to make Panda the flagship robot of the MoveIt tutorials.</p>
                            <img class="casestudies-logo" src="/assets/images/franka-logo-2.png" alt="Vicarious logo">
                        </div>
                    </a>
                </li>
                <li>
                    <a class="casestudies-single" href="/case-study-carbon/">
                        <img src="/assets/images/redesign/blog-3.png" class="img-fluid mx-auto d-block" alt="img5">
                        <div class="casestudies-content">
                            <h4>ADVANCED ROBOTICS TO THE MASSES</h4>
                            <p>Leveraging MoveIt for the application layer of a robot hardware manufacturer.</p>
                            <img class="casestudies-logo" src="/assets/images/carbon-logo-2.png" alt="Vicarious logo">
                        </div>
                    </a>
                </li>
            </ul>
            <div class="casestudies-arrow-prev" id="goToPrevSlide1">
                <svg width="36px" height="15px" viewBox="0 0 36 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-180.000000, -3462.000000)" stroke="#121929" stroke-width="2"><g  transform="translate(181.000000, 3452.000000)"><g transform="translate(17.500000, 17.500000) scale(-1, 1) translate(-17.500000, -17.500000) translate(0.000000, 11.000000)"><path d="M0,6.5 L34.1757812,6.5" ></path><polyline  points="29.5 0 34.5 6.4482837 29.5 13"></polyline></g></g></g></g></svg>
            </div>
            <div class="casestudies-arrow-next" id="goToNextSlide1">
                <svg width="36px" height="15px" viewBox="0 0 36 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-1587.000000, -3462.000000)" stroke="#121929" stroke-width="2"><g transform="translate(1451.000000, 3452.000000)"><g transform="translate(136.000000, 11.000000)"><path d="M0,6.5 L34.1757812,6.5" ></path><polyline  points="29.5 0 34.5 6.4482837 29.5 13"></polyline></g></g></g></g></svg>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-grey">
        <div class="container block-padding-120" style="position: relative;">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-12">
                    <h3 class="block-section__title">Recommendations</h3>
                </div>
            </div>
            <div class="row">
                <ul id="recommendations">
                    <li>
                        <div class="recommendations-single">
                            <div class="recommendationses-content">
                              <p>"The final product worked seamlessly and was accompanied by extremely thorough documentation of usage, several additional features, and improvements that we hadn't specifically asked for. It was the best experience I've had working with an external consultant."<br> -Dr. Bhaskara Marthi, Head of Robotics</p>
                                <img class="recommendations-logo" src="/assets/images/vicarious-logo-2.png" alt="Vicarious logo">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="recommendations-single">
                            <div class="recommendations-content">
                              <p>“I highly recommend Dave. Dave is a self motivated problem solver and tackles problems holistically. He demonstrated a strong ability to navigate ambiguity and help define the requirements”<br> -Daniel Aden, Engineering</p>
                                <img class="recommendations-logo" src="/assets/images/google-logo.png" alt="Google logo">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="recommendations-single">
                            <div class="recommendations-content">
                                <p>“Always striving to make sure problems are not swept under the rug, that the best solutions are employed, that clean and correct code is written...efficient, high quality code.”<br> -Dr. Ioan Sucan, Senior Software Engineer</p>
                                <img class="recommendations-logo" src="/assets/images/waymo-logo.png" alt="Waymo logo">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="recommendations-single">
                            <div class="recommendations-content">
                                <p>"Dave and Picknik team have been collaborating with Verb Robotics team for three years. They have made great contributions to our Surgical robotics R&amp;D with consultancy work on robotics and real-time SW. I am always very happy with the quality of SW (exceptional design, coding and code reviews) and their commitment to Verb's project schedule."<br> -Dr. Haoran Yu, Head of Robotics</p>
                                <img class="recommendations-logo" src="/assets/images/verb-logo.png" alt="Verb logo">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="casestudies-arrow-prev" id="goToPrevSlide2">
                <svg width="36px" height="15px" viewBox="0 0 36 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-180.000000, -3462.000000)" stroke="#121929" stroke-width="2"><g  transform="translate(181.000000, 3452.000000)"><g transform="translate(17.500000, 17.500000) scale(-1, 1) translate(-17.500000, -17.500000) translate(0.000000, 11.000000)"><path d="M0,6.5 L34.1757812,6.5" ></path><polyline  points="29.5 0 34.5 6.4482837 29.5 13"></polyline></g></g></g></g></svg>
            </div>
            <div class="casestudies-arrow-next" id="goToNextSlide2">
                <svg width="36px" height="15px" viewBox="0 0 36 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-1587.000000, -3462.000000)" stroke="#121929" stroke-width="2"><g transform="translate(1451.000000, 3452.000000)"><g transform="translate(136.000000, 11.000000)"><path d="M0,6.5 L34.1757812,6.5" ></path><polyline  points="29.5 0 34.5 6.4482837 29.5 13"></polyline></g></g></g></g></svg>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
